In [1]:
import matplotlib.pyplot as plt 
import pandas as pd

file = "coefficient_file/model-ckpt-8061/w_conv_1.csv"
# we use it to save our result
file_output_v1 = "coefficient_file/model-ckpt-8061/w_conv_1_v1.csv"
w_conv_1 = pd.read_csv(file)
w_conv_1.head(15)

    Unnamed: 0         0         1         2         3         4
0          0.0  0.304390  0.117113 -0.274138 -0.449103 -0.300050
1          1.0  0.110247 -0.810396 -0.415377 -0.130973  0.017046
2          2.0 -0.406546 -0.590219  0.056627  0.260535  0.202384
3          3.0 -0.757819 -0.039044  0.251437  0.177858  0.118323
4          4.0 -0.442412  0.158246  0.127182  0.111535  0.047176
5          NaN  0.000000  1.000000  2.000000  3.000000  4.000000
6          0.0  0.011252 -0.060481  0.116625  0.097055 -0.086600
7          1.0 -0.023164 -0.059564  0.094545  0.053233 -0.121127
8          2.0 -0.069960 -0.006993 -0.031249 -0.046567  0.037988
9          3.0  0.066254  0.094151 -0.026509  0.093943  0.004969
10         4.0 -0.063173 -0.048933  0.086227 -0.068704 -0.008568
11         NaN  0.000000  1.000000  2.000000  3.000000  4.000000
12         0.0 -0.318274 -0.365177 -0.209573 -0.147162 -0.061428
13         1.0 -0.298199 -0.356936 -0.368180 -0.251614 -0.148839
14         2.0  0.062533 -0.045761 -0.035679  0.038412  0.052385

In [2]:
# Print the list of the column names
print("index:", w_conv_1.index)
print("columns:", w_conv_1.columns)
# print("values:\n", w_conv_1.values)
print("{} contains {} rows.".format(file, len(w_conv_1.index)))
print("{} contains {} columns.".format(file, w_conv_1.columns.size))
print("data type:\n", w_conv_1.dtypes)
# the dtype of data in column 1
# print("The data type of {} is: {}.".format('"column 1"', w_conv_2["1"].dtype))

index: RangeIndex(start=0, stop=95, step=1)
columns: Index(['Unnamed: 0', '0', '1', '2', '3', '4'], dtype='object')
coefficient_file/model-ckpt-8061/w_conv_1.csv contains 95 rows.
coefficient_file/model-ckpt-8061/w_conv_1.csv contains 6 columns.
data type:
 Unnamed: 0    float64
0             float64
1             float64
2             float64
3             float64
4             float64
dtype: object

delete duplicate rows

In [7]:
# any -> 只要行中含有一个nan就删除， all -> 行内元素全为NaN就删除该行
# axis=0 -> 代表行， axis=1 -> 代表列
w_conv_1.dropna(axis=0, how='any',inplace=True)
w_conv_1.tail(10)
# print(len(w_conv_1_v1.index))

    Unnamed: 0         0         1         2         3         4
84         0.0  0.059196  0.058227 -0.049661 -0.104629 -0.344475
85         1.0  0.078177  0.071427 -0.031013 -0.140947 -0.219296
86         2.0  0.072708  0.132915  0.123840  0.000138  0.020867
87         3.0 -0.000782  0.147346  0.132674  0.085883 -0.067007
88         4.0 -0.034077  0.022309 -0.088616  0.077827  0.107641
90         0.0  0.183155  0.318712  0.232531 -0.071024 -0.194209
91         1.0  0.300830  0.195830 -0.211928 -0.394659 -0.170790
92         2.0  0.284196  0.035943 -0.310953 -0.499055 -0.025656
93         3.0  0.164127 -0.165263 -0.502601 -0.361464  0.095397
94         4.0  0.017863 -0.113174 -0.257202 -0.026003  0.170629

delete duplicate columns

In [8]:
w_conv_1.drop(['Unnamed: 0'], axis=1, inplace=True)
w_conv_1.tail(10)

           0         1         2         3         4
84  0.059196  0.058227 -0.049661 -0.104629 -0.344475
85  0.078177  0.071427 -0.031013 -0.140947 -0.219296
86  0.072708  0.132915  0.123840  0.000138  0.020867
87 -0.000782  0.147346  0.132674  0.085883 -0.067007
88 -0.034077  0.022309 -0.088616  0.077827  0.107641
90  0.183155  0.318712  0.232531 -0.071024 -0.194209
91  0.300830  0.195830 -0.211928 -0.394659 -0.170790
92  0.284196  0.035943 -0.310953 -0.499055 -0.025656
93  0.164127 -0.165263 -0.502601 -0.361464  0.095397
94  0.017863 -0.113174 -0.257202 -0.026003  0.170629

Index reordering

In [9]:
# Index reordering
w_conv_1.index = range(len(w_conv_1))
w_conv_1.tail(10)

           0         1         2         3         4
70  0.059196  0.058227 -0.049661 -0.104629 -0.344475
71  0.078177  0.071427 -0.031013 -0.140947 -0.219296
72  0.072708  0.132915  0.123840  0.000138  0.020867
73 -0.000782  0.147346  0.132674  0.085883 -0.067007
74 -0.034077  0.022309 -0.088616  0.077827  0.107641
75  0.183155  0.318712  0.232531 -0.071024 -0.194209
76  0.300830  0.195830 -0.211928 -0.394659 -0.170790
77  0.284196  0.035943 -0.310953 -0.499055 -0.025656
78  0.164127 -0.165263 -0.502601 -0.361464  0.095397
79  0.017863 -0.113174 -0.257202 -0.026003  0.170629

#### original_shape=(5 * 5* 1* 16)

#### current_shape=(5 columns * 80 rows)

every 5 row represent a 2D convolutio kernal

#### target_shape=(25 * 16)

each rows represent a 2D convolution kernel

In [10]:
# df1 include [0, 5, 10, 15 ... 75]
# df2 include [1, 6, 11, 16 ... 76]
# df3 include [2, 7, 12, 17 ... 77]
# df4 include [3, 8, 13, 18 ... 78]
# df5 include [4, 9, 14, 19 ... 79]

# Horizontally connect file 1, file 2, file 3
ranges_df0 = range(0, 80, 5)
ranges_df1 = range(1, 80, 5)
ranges_df2 = range(2, 80, 5)
ranges_df3 = range(3, 80, 5)
ranges_df4 = range(4, 80, 5)

#print("ranges_df0:\n", ranges_df0)
#print("ranges_df1:\n", ranges_df1)
#print("ranges_df2:\n", ranges_df2)
#print("ranges_df3:\n", ranges_df3)
#print("ranges_df4:\n", ranges_df4)

# The first parameter is used to select the row
# The second parameter is used to select the column
# df0 = w_conv_2.iloc[ranges_df0, ['0', '1', '2', '3', '4']]
df0 = w_conv_1.iloc[ranges_df0]
df1 = w_conv_1.iloc[ranges_df1]
df2 = w_conv_1.iloc[ranges_df2]
df3 = w_conv_1.iloc[ranges_df3]
df4 = w_conv_1.iloc[ranges_df4]
print(df0.head())
print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())

           0         1         2         3         4
0   0.304390  0.117113 -0.274138 -0.449103 -0.300050
5   0.011252 -0.060481  0.116625  0.097055 -0.086600
10 -0.318274 -0.365177 -0.209573 -0.147162 -0.061428
15 -0.044266  0.078163 -0.018236 -0.134377 -0.393291
20  0.181162  0.310691  0.245326  0.120314  0.090523
           0         1         2         3         4
1   0.110247 -0.810396 -0.415377 -0.130973  0.017046
6  -0.023164 -0.059564  0.094545  0.053233 -0.121127
11 -0.298199 -0.356936 -0.368180 -0.251614 -0.148839
16  0.082233  0.061303 -0.027765 -0.301256 -0.249587
21  0.209837  0.122283  0.043333  0.054972 -0.106127
           0         1         2         3         4
2  -0.406546 -0.590219  0.056627  0.260535  0.202384
7  -0.069960 -0.006993 -0.031249 -0.046567  0.037988
12  0.062533 -0.045761 -0.035679  0.038412  0.052385
17 -0.041416  0.069430  0.058027  0.101953  0.207780
22 -0.020409 -0.139632 -0.072747 -0.108865 -0.112679
           0         1         2         3         4
3  -0.757819 -0.039044  0.251437  0.177858  0.118323
8   0.066254  0.094151 -0.026509  0.093943  0.004969
13  0.277339  0.251630  0.275739  0.164670  0.071250
18 -0.039570  0.110769  0.135652  0.234666  0.069530
23 -0.206936 -0.243953 -0.337963 -0.342875 -0.137576
           0         1         2         3         4
4  -0.442412  0.158246  0.127182  0.111535  0.047176
9  -0.063173 -0.048933  0.086227 -0.068704 -0.008568
14  0.207767  0.254859  0.183535  0.122526  0.051155
19  0.002785 -0.051273  0.048276 -0.018835 -0.000213
24 -0.124406 -0.200970 -0.115096  0.008717  0.049451

In [11]:
# Index reordering
df0.index = range(len(df0))
df1.index = range(len(df1))
df2.index = range(len(df2))
df3.index = range(len(df3))
df4.index = range(len(df4))
print(df0.head())
print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())

          0         1         2         3         4
0  0.304390  0.117113 -0.274138 -0.449103 -0.300050
1  0.011252 -0.060481  0.116625  0.097055 -0.086600
2 -0.318274 -0.365177 -0.209573 -0.147162 -0.061428
3 -0.044266  0.078163 -0.018236 -0.134377 -0.393291
4  0.181162  0.310691  0.245326  0.120314  0.090523
          0         1         2         3         4
0  0.110247 -0.810396 -0.415377 -0.130973  0.017046
1 -0.023164 -0.059564  0.094545  0.053233 -0.121127
2 -0.298199 -0.356936 -0.368180 -0.251614 -0.148839
3  0.082233  0.061303 -0.027765 -0.301256 -0.249587
4  0.209837  0.122283  0.043333  0.054972 -0.106127
          0         1         2         3         4
0 -0.406546 -0.590219  0.056627  0.260535  0.202384
1 -0.069960 -0.006993 -0.031249 -0.046567  0.037988
2  0.062533 -0.045761 -0.035679  0.038412  0.052385
3 -0.041416  0.069430  0.058027  0.101953  0.207780
4 -0.020409 -0.139632 -0.072747 -0.108865 -0.112679
          0         1         2         3         4
0 -0.757819 -0.039044  0.251437  0.177858  0.118323
1  0.066254  0.094151 -0.026509  0.093943  0.004969
2  0.277339  0.251630  0.275739  0.164670  0.071250
3 -0.039570  0.110769  0.135652  0.234666  0.069530
4 -0.206936 -0.243953 -0.337963 -0.342875 -0.137576
          0         1         2         3         4
0 -0.442412  0.158246  0.127182  0.111535  0.047176
1 -0.063173 -0.048933  0.086227 -0.068704 -0.008568
2  0.207767  0.254859  0.183535  0.122526  0.051155
3  0.002785 -0.051273  0.048276 -0.018835 -0.000213
4 -0.124406 -0.200970 -0.115096  0.008717  0.049451

In [13]:
# Splicing files horizontally
w_conv_1_v1 = pd.concat([df0, df1, df2, df3, df4], axis=1)
w_conv_1_v1.head()

,0,1,2,3,4,0,1,2,3,4,...,0,1,2,3,4,0,1,2,3,4
0,0.304390,0.117113,-0.274138,-0.449103,-0.300050,0.110247,-0.810396,-0.415377,-0.130973,0.017046,...,-0.757819,-0.039044,0.251437,0.177858,0.118323,-0.442412,0.158246,0.127182,0.111535,0.047176
1,0.011252,-0.060481,0.116625,0.097055,-0.086600,-0.023164,-0.059564,0.094545,0.053233,-0.121127,...,0.066254,0.094151,-0.026509,0.093943,0.004969,-0.063173,-0.048933,0.086227,-0.068704,-0.008568
2,-0.318274,-0.365177,-0.209573,-0.147162,-0.061428,-0.298199,-0.356936,-0.368180,-0.251614,-0.148839,...,0.277339,0.251630,0.275739,0.164670,0.071250,0.207767,0.254859,0.183535,0.122526,0.051155
3,-0.044266,0.078163,-0.018236,-0.134377,-0.393291,0.082233,0.061303,-0.027765,-0.301256,-0.249587,...,-0.039570,0.110769,0.135652,0.234666,0.069530,0.002785,-0.051273,0.048276,-0.018835,-0.000213
4,0.181162,0.310691,0.245326,0.120314,0.090523,0.209837,0.122283,0.043333,0.054972,-0.106127,...,-0.206936,-0.243953,-0.337963,-0.342875,-0.137576,-0.124406,-0.200970,-0.115096,0.008717,0.049451

In [14]:
# change the columns name to 0->24
# print(w_conv_1_v1.columns.values)
# Edit specific columns
#w_conv_1_v1.rename(columns={w_conv_1_v1.columns[0]: "new_name"}, inplace=True)
ranges_columns_name_v1 = range(0, 25, 1)
w_conv_1_v1.columns = ranges_columns_name_v1
print("number of rows:", w_conv_1_v1.index)
w_conv_1_v1.tail()

['0' '1' '2' '3' '4' '0' '1' '2' '3' '4' '0' '1' '2' '3' '4' '0' '1' '2'
 '3' '4' '0' '1' '2' '3' '4']
number of rows: RangeIndex(start=0, stop=16, step=1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
11,0.116347,0.206885,0.240050,0.132530,0.234343,0.238736,0.223571,0.195019,0.255082,0.069785,...,-0.277306,-0.318705,-0.385352,-0.324995,-0.099697,-0.136893,-0.207382,-0.131726,0.006038,0.036667
12,0.051862,-0.000465,0.043910,-0.272712,-0.271702,0.074399,0.196050,0.170417,-0.124336,-0.357693,...,-0.267246,0.012710,0.269027,0.261708,0.053918,-0.365534,-0.282288,0.070404,0.071063,0.137634
13,-0.283479,-0.013765,-0.010829,0.075829,0.044977,-0.212490,0.026424,0.163907,0.120412,-0.011325,...,0.059236,0.086675,0.018563,-0.031825,-0.089969,-0.002644,-0.009862,-0.054370,0.096186,-0.046574
14,0.059196,0.058227,-0.049661,-0.104629,-0.344475,0.078177,0.071427,-0.031013,-0.140947,-0.219296,...,-0.000782,0.147346,0.132674,0.085883,-0.067007,-0.034077,0.022309,-0.088616,0.077827,0.107641
15,0.183155,0.318712,0.232531,-0.071024,-0.194209,0.300830,0.195830,-0.211928,-0.394659,-0.170790,...,0.164127,-0.165263,-0.502601,-0.361464,0.095397,0.017863,-0.113174,-0.257202,-0.026003,0.170629

In [15]:
pd.DataFrame(w_conv_1_v1).to_csv(file_output_v1)